$color-border: black;

$color-text-button: black;
$color-text-body: black;
$color-text-h1: black;
$color-text-h2: black;
$color-text-h3: black;

$color-background-body: white;
$color-background-primary: #ffa112;
$color-background-secondary: #0059a6;
$color-background-chat: rgb(201, 201, 201);

$color-message-username-client: rgb(151, 252, 0);
$color-message-username-nonclient: rgb(40, 245, 177);
$color-message-payload-client: greenyellow;
$color-message-payload-nonclient: aquamarine;

// body {
//     --bg-color-var-color: #000;
// }