@import '../../../../sass/variables';

.chat-li {
    list-style-type: none;
    max-width: 80%;
    clear: both;
}

.message-container {
    &.left {
        float: left;
        text-align: left;
    }
    &.right {
        float: right;
        text-align: right;
    }
    .username-container {
        padding: 2px 10px 2px;
        margin: 3px 10px 0 10px;
        border-radius: .5rem .5rem 0 0;
        &.left {
            background-color: rgb(40, 245, 177);
        }
        &.right {
            background-color: rgb(151, 252, 0);
        }
    }
    .payload-container {
        padding: 10px 10px 12px;
        margin: 0 10px 3px 10px;
        border-radius: 0 0 .5rem .5rem;
        &.left {
            background-color: aquamarine;
        }
        &.right {
            background-color: greenyellow;
        }
    }
}