.chat-input-parent {
    margin: auto;
    max-width: 600px;
    padding: 5px 0 10px 0
  }
  
  .input-box {
    width: calc(100% - 108px);
    min-width: 200px;
  }
  
  .submit-button {
    width:100px;
  }