.App {
  text-align: center;
}

.login_register_logout_parent{
  background-color:burlywood;
  padding: 1rem;
}

/* Login/Register grid */
.grid_container{
  display: grid;
}

.login_register{
  grid-column: 1;
  grid-row: 1;
}

/* Transition - Fade */
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* Transition - Slide from/to left */
.slide-left-enter {
  transform: translate(-30vh, 0);
  opacity: 0.01;
}

.slide-left-enter.slide-left-enter-active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 500ms ease-in;
}

.slide-left-exit {
  transform: translate(0, 0);
  opacity: 1;
}

.slide-left-exit.slide-left-exit-active {
  transform: translate(-30vh, 0);
  opacity: 0.01;
  transition: all 300ms ease-in;
}

/* Transition - Slide from/to right */
.slide-right-enter {
  transform: translate(30vh, 0);
  opacity: 0.01;
}

.slide-right-enter.slide-right-enter-active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 500ms ease-in;
}

.slide-right-exit {
  transform: translate(0, 0);
  opacity: 1;
}

.slide-right-exit.slide-right-exit-active {
  transform: translate(30vh, 0);
  opacity: 0.01;
  transition: all 300ms ease-out;
}


/* Chat component styles */
.chat-parent {
  background-color: burlywood;
}

.chat-container {
  background-color: wheat;
  padding-left: 0;
  padding-right: 0;
  height: 400px;
  max-width: 600px;
  margin: auto;
  overflow-y: scroll;
  border: solid 2px black;
}

.chat-li-container {
  list-style-type:none;
  max-width: 80%; 
  clear:both;
}

.chat-username-container {
  list-style-type:none;
  padding: 2px 10px 2px;
  margin: 3px 10px 0 10px;
  border-radius: .5rem .5rem 0 0;
  min-width: 100%; 
  clear: both;
}
.chat-payload-container {
  list-style-type:none;
  padding: 10px 10px 12px;
  margin: 0 10px 3px 10px;
  border-radius: 0 0 .5rem .5rem;
  min-width: 100%; 
  clear: both;
}

.chat-message-container-left {
  float: left;
  /* padding-right: 100px; */
  text-align: left;
}

.chat-username-left {
  background-color: rgb(40, 245, 177);;
}

.chat-payload-left {
  background-color: aquamarine;
}

.chat-message-container-right {
  float: right;
  /* padding-left: 100px; */
  padding-right: 2.5rem;
  text-align: right;
}
.chat-username-right {
  background-color: rgb(151, 252, 0);
}
.chat-payload-right {
  background-color: greenyellow;
}

.chat-input-parent {
  margin: auto;
  max-width: 600px;
  padding: 5px 0 10px 0
}

.chat-input-box {
  width: calc(100% - 108px);
  min-width: 200px;
}

.chat-submit-button {
  width:100px;
}