.change_password_container{
    .changeNeutral{
        background-color: none;
    }
    .changeFail{
        background-color: red;
    }
    .changeSuccess{
        background-color: green;
    }
}